.dashboard-container {
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    /* FIX 3: Define 3 colunas para o grid */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.totalizer-item {
    text-align: center;
    margin-bottom: 0px;
}

.totalizer-item:last-child {
    margin-bottom: 0;
}

.totalizer-item .label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.totalizer-item .value {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
}

/* Cores para os valores */
.totalizer-item .value.received {
    color: #4CAF50; /* Verde */
}

.totalizer-item .value.to-receive {
    color: #F44336; /* Vermelho */
}

/* Container para alinhar os totalizadores */
.totalizer-items-container {
    display: flex;
    justify-content: space-around; /* Isso os espaçará uniformemente */
    align-items: center;
    width: 100%;
    margin-top: 15px; /* Adiciona um espaço abaixo do título */
}

/* Adiciona responsividade */
@media (max-width: 900px) {
    .dashboard-container {
        grid-template-columns: 1fr; /* Volta a ter 1 coluna */
    }
    .totalizer-items-container {
        flex-direction: column; /* Empilha os totalizadores */
        gap: 15px;
    }
}